#contact {
	width: 100%;
	height: auto;
	background-color: #5b5b5b;

	text-align: center;
	padding: 1% 0% 1% 0%;
    color: #b8b9b8;
}

#navig a img {
	
}

#navig ul img {
	margin: -14%;
}

#navig ul {
    margin: 1% 26% 0% 0%;
    float: right;
}

#navig ul li {
	float: left;
}

#navig ul li a {
	display: block;
    color: #5b5b5b;
    text-align: center;
    text-decoration: none;
    font-size: 150%;
    padding: 29px;
}



